.app {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(143,199,244,1) 28%, rgba(98,174,252,1) 67%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}