.app {
    background-image: url('/images/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

.data-details {
    backdrop-filter: blur(32px);
    padding: 2rem;
    width: 35%;
}