.daily {
    padding: .75rem;
    margin: 0 .1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(8px);
}

.daily:last-child {
    margin-right: 0;
}

.daily:first-child {
    margin-left: 0;
}

.daily img {
    width: 86px;
}