.daily {
    padding: .75rem;
    border-radius: .5rem;
    background: rgba(77, 141, 245, .15);
    text-align: center;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(8px);
    /* cursor: pointer;   // next feature - detailed weather forecast for chosen day*/
}

.daily img {
    width: 86px;
}