.search-bar {
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.search {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    padding: 12px 16px;
    border-radius: 32px;
    position: relative;
}

button {
    width: 10%;
    background: white;
    border: none;
    border-radius: 32px;
    cursor: pointer;
}

button img {
    width: 50%;
}

.search-icon {
    width: 10%;
}